:root {
    --red:#ff6f69;
    --yellow:#ffeead;
    --orange:#ffcc5c;

}

.grid {
    --columns: 200px 200px;
}

html, body {
    background: var(--yellow);
    color: var(--red);
}

h2, p {
    color: var(--red);
}

#navbar {
    --nav-red:#ff6f19;
}

#navbar a {
    color: var(--nav-red);
}

.item {
    --item-yellow:#fffc5c;
    background: var(--item-yellow);
}

button {
    background: var(--red);
    color: var(--item-yellow);
}

.featured {
    --item-yellow:#ffe55b;
    --red:#ff5564;
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}

@media all and (max-width:650px) {
    .grid {
        --columns: 300px;

    }
    :root {
        --yellow:#fffead;
        
    }
}