body, html {
    background-color: antiquewhite;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 200px 50px;

}

.header, .sidebar, .content, .footer {
    color: #fff;
}

.container * {
    border-radius: 5px;
    padding: 5px;
}

.header {
    background-color: grey;
    grid-column: -1 / 1;
}

.sidebar {
    background-color: rgb(60, 60, 60);

    grid-column: 1 / span 1;

}

.content {
    background-color: rgb(60, 60, 60);
    grid-column: 2 / span 2;

}

.sidebar2 {
    background-color: rgb(210, 208, 208);
    color: #000;
    grid-column: 4 / span 1;

}

.footer {
    background-color: grey;
    grid-column: 1 / -1;
}

@media screen and (max-width: 1024px) {

    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px 150px 150px 50px;
    
    }

    .header {grid-column: 1 / -1;}
    .sidebar {grid-column: 1 / span 1;}
    .content {grid-column: 2 / span 3;}
    .sidebar2 {grid-column: 1 / -1;}
    .footer {grid-column: 1 / -1;}

}

@media screen and (max-width: 640px) {

    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 100px 200px 100px 50px;
    
    }

    .header {grid-column: 1 / -1;}
    .sidebar {grid-column: 1 / -1;}
    .content {grid-column: 1 / -1;}
    .sidebar2 {grid-column: 1 / -1;}
    .footer {grid-column: 1 / -1;}

}